# Cheat Sheet

## Connecting to postgress

```python
import psycopg2 as pg2
conn = pg2.connect(database='Database_name', user='USER_ACCOUTN', password="PASSWORD")```

## Create query

You can create postgress queries by first setting up a cursor

then you create an  `execute` instance with the SQL query

**Make sure to `conn.commit()` or `conn.rollback()` after query** 
```python
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS test_table \
            (transaction_id SERIAL UNIQUE PRIMARY KEY,\
            date DATE NOT NULL,\
            account VARCHAR(50) NOT NULL,\
            transaction_name TEXT,\
            amount NUMERIC(13,2) NOT NULL,\
            category VARCHAR(50));")
conn.commit()

***You can get the query data and convert it to a pandas dataframe doing the following***

```python
cur.execute("SELECT * FROM test_table")
results = cur.fetchall()

import pandas as pd
df = pd.DataFrame(results)

### Example

In [2]:
import psycopg2 as pg2
import pandas as pd

conn = pg2.connect(database='Budget', user='postgres', password="Dh41144185")

cur = conn.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS test_table \
            (transaction_id SERIAL UNIQUE PRIMARY KEY,\
            date DATE NOT NULL,\
            account VARCHAR(50) NOT NULL,\
            transaction_name TEXT,\
            amount NUMERIC(13,2) NOT NULL,\
            category VARCHAR(50));")
conn.commit()

cur.execute("SELECT * FROM test_table")
results = cur.fetchall()
conn.commit()
results

[(1,
  datetime.date(2013, 1, 15),
  'CHASE_CHECKING',
  'McDonalds',
  Decimal('10.13'),
  'Food'),
 (2,
  datetime.date(2013, 1, 20),
  'CAPITAL_ONE',
  'Walmart',
  Decimal('58.56'),
  'Grocery'),
 (3,
  datetime.date(2013, 1, 23),
  'CHASE_CHECKING',
  'IKEA',
  Decimal('350.65'),
  'Free_Expense'),
 (4,
  datetime.date(2013, 1, 29),
  'CHASE_CHECKING',
  'Wendys',
  Decimal('6.53'),
  'Food')]

In [3]:
df = pd.DataFrame(results)
df

   0           1               2          3       4             5
0  1  2013-01-15  CHASE_CHECKING  McDonalds   10.13          Food
1  2  2013-01-20     CAPITAL_ONE    Walmart   58.56       Grocery
2  3  2013-01-23  CHASE_CHECKING       IKEA  350.65  Free_Expense
3  4  2013-01-29  CHASE_CHECKING     Wendys    6.53          Food

## Dynamically Create PyQT6 Objects

#### Qlabel dynamic creation

```python
# Creating headers for scrollAreaWidgetContents
self._headers = ["symbol", "exchange", "bid", "ask", "remove"]
        
# Create a list of QLabels for the number of headers 
self._headers_labels = [QLabel() for _ in range(len(self._headers))]

# enumerate over QLabel list
for idx, h in enumerate(self._headers_labels):
    
    # Give each header QLabel a setObjectName. Good for stylesheet
    h.setObjectName(f"label_{self._headers[idx]}")
    
    if self._headers[idx] == 'remove':
        h.setText("") # remove Qlabel isn't need initially
        
    else:
        h.setText(f"{self._headers[idx]}") # initiate headers text
        h.setMinimumWidth(200)
        
    self._headers_frame.addWidget(h, 0, idx) # remember, headers are in scroll area

# Fill initiated dictionary with header dictionary     
for h in self._headers:
    
    self.body_widgets[h] = dict()
    
    if h in ['bid', 'ask']:
        self.body_widgets[h + "_var"] = dict()

## PRIMARY KEYS and FOREIGN KEYS (SQL)

 - Primary key can be used to help join tables together
 - A Foreign key is a field or group of fields in a table that uniquely identifies a row in annother table

#### Creating a table with a foreign key

```python
cur.execute("""CREATE TABLE account_job(
    user_id INTEGER REFERENCES account(user_id),
    job_id INTEGER REFERNCES job(job_id),
    hire_date TIMESTAMP
);""")
conn.commit()```

## Inner Join

- **JOINS** allow us to combine multiple tables together.
- reason is to deal with information only present in one of the joined tables.

**SYNTAX**

``` sql
SELECT * FROM TableA
INNER JOIN TableB
ON TableA.col_match = TableB.col_match;

### Dealing with PyQt6 ScrollArea

**What you'll need**
- PyQt6.QtWidgets.QScrollArea
- PyQt6.QtWidgets.QWidget

```python
import PyQt6.QtWidgets.QScrollArea
import PyQt6.QtWidgets.QWidget
import PyQt6.QtWidgets.QLabel

scrollarea = PyQt6.QtWidgets.QScrollArea()
scrollarea.setWidgetResizable(True)
scrollarea.setMaximumsize(500, 600)
scrollarea.height(500)
scrollarea.width(600)
scrollareacontent = PyQt6.QtWidgets.QWidget()
label = PyQt6.QtWidgets.QLabel(scrollareacontent)
scrollarea.setWidget(scrollareacontent)